<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
    {% for img in urls_img %}
      <a href="{{ img }}">{{ img }}<br></a>
    {% endfor %}

    <a href="media/images/4f793576c79c1cbe68b73800ae06f06f.jpg" target="_blank">Открыть изображение</a>
    <a href="where_to_go/media/images/4f793576c79c1cbe68b73800ae06f06f.jpg" target="_blank">Открыть изображение</a>
    <a href="/Users/macbook/PycharmProjects/Interactive_Moscow_map/where_to_go/media/images/4f793576c79c1cbe68b73800ae06f06f.jpg"
       target="_blank">Открыть изображение
    </a>

  </body>
</html>
